{% extends "teacher/base.html" %}
{% block content %}
<style>
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

 h1 {
    text-align: center;
    color: #333;
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

form button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #555;
}
</style>

<h1>Send Notification</h1>
<form method="post">
  {% csrf_token %}
  <label for="recipient">Recipient</label>
  {{ form.recipient }}
  <br><br>
  <input type="text" name="message" placeholder="Message" required>
  <label for="scheduled_at">Scheduled_at</label>
  <input type="datetime-local" name="scheduled_at" required>
  <br><br>
  <button type="submit">Send Notification</button>
</form>
{% endblock content %}